body {
    font-family: arial,sans-serif;
}
input.c-button.can-button {
    background-color: #d00;
    color: #fff;
}

input.c-button.equal-buttom {
    background-color: #d50;
    color: #fff;
}

input.c-button.q-button {
    background-color: #ececec;
}
#calculator {
    
    
    
    
    
    width: 190px;
    cursor: move;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    /* W3C */
    /* IE6-9 */
    ;
    
    
    /* padding: 10px; */
    /* border: 1px solid #ddd; */
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    opacity: 0.9;
    z-index: 10;
    padding: 10px;
    background-color: #000;  background-color: #464b4c;  background-image: -webkit-linear-gradient(top,#464b4c,#3f4344);  background-image: -moz-linear-gradient(top,#464b4c,#3f4344);  background-image: -o-linear-gradient(top,#464b4c,#3f4344);  background-image: linear-gradient(to bottom,#464b4c,#3f4344);    
}
.c-button {
    vertical-align: middle;
    border: 0;
    background-color: #fff;
    color: #777;
    -moz-border-radius: 4px;
    font-size: 13px;
    height: 48px;
    width: 47.4;
    text-align: center;
    text-decoration: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.c-input {
    font-size: 20px;
    width: 100%;
    vertical-align: middle;
    background: #fff;
    border: 0;
    /* margin-bottom: 5px; */
    padding: 10px;
}
.footer {
    color: #666;
    font-size: 10pt;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    padding: 15px 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
