/*mainbody*/
#mainbody .product-content-footer {
    padding: 10px;
    font-size: 13px;
    background-color: #eee;
}
#mainbody .product-content-controls {
    text-align: right;
}

/*item-list*/
#item-list .member-date-mobile .item-date {
    margin: 0!Important;
}

/*product-main*/
#product-main {
    position: static;
    right: 0;
    bottom: 0;
    overflow: auto;
    max-width: 900px;
    margin: 20px auto;
    /*!  */
    padding: 0 10px;
}
#product-main form {
    background-color: #fff;
}
#product-main .product-content {
  text-align: left;
  background-color: #fff;
  margin: 0;
}
#product-main .product-content ul li {
    padding-bottom: 10px;
}
#product-main .product-content p {
    line-height: 1.8;
    margin: 0 0 15px 0;
}
#product-main .product-content-title {
    margin: 0;
    font-weight: 100;
    font-size: 25px;
    padding: 5px 10px;
}
#product-main .product-content-title input[type="text"] {
    border:0;
}
#product-main .product-content-footer {
    padding: 10px 10px;
}
#product-main .product-content-subtitle {
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}
#product-main .product-content-subtitle span {
    color: #999;
}
#product-main .product-content-controls .secondary-button {
    margin-bottom: 0.3em;
}
#product-main .product-thumb {
    width: 40px;
    height: 40px;
}
#product-main label {
  display: block;
}

/*product-image*/
#product-image ul a {
  display: block;
  width: 100%;
}
#product-image {
  color: #666;
  margin: 0;
  text-align: left;
  padding: 5px 5px;
  background-color: #eee;
}
#product-image ul li {
  display: inline-block;
  padding-bottom: 0!Important;
}
#product-image ul li div {
  height: 70px !important;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  border-left: 0;
  margin: 5px;
  /*!  */
  background-color: #fff;
}
#product-image ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*product-upload*/
#product-upload {
  text-align: center !important;
  background-color: #fff;
  font-size: 12px;
}
#product-upload label {
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
#product-upload.product-image {
    background-color: transparent;
}
#product-upload label .icon {
    padding-right: 10px;
}

#product-upload .product-upload-item {
  border: 1px dashed #ddd;
  margin: 10px;
}
#product-upload .product-upload-image {
  border: 1px dashed #ddd;
  margin: 5px 5px;
}

/*product*/
ul#product {
    font-size: 14px;
    text-align: center;
}
#product .product-main .product-right {
    font-size: 12px;
    padding: 10px;
}
#product .product-main .product-right a {
    text-decoration: none;
    color: #3469A3;
}
#product .product-main a {
    text-decoration: none;
}
#product .product-main .product-info ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#product .product-main .product-info h3 {
    font-weight: 400;
    color: #245F9D;
    padding: 0!Important;
    margin: 0;
    font-size: 1.17em;
}
#product .product-main .product-price {
    font-size: 13px;
}
#product .product-main .product-info {
    border-top: 0;
    display: block;
    line-height: 2;
    padding: 10px 0;
}
#product .product-main .product-thumb {
    height: 300px;
    background-size: inherit;
    margin: 0 auto;
    background-color: #f9f9f9;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
}
#product .product-main {
    display: block;
    margin: 10px;
}
#product .product-main .product-description {
    display: block;
    font-size: 12px;
    line-height: 2;
    padding: 10px 0;
}

/*product-setting*/
.product-setting .setting-main {
  padding: 10px;
}

/*inputfile*/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/*download*/
.status {
    margin-top: 5px;
    text-align: center;
}
a[alt=download] {
  background-color: #1ca413;
  color: #fff;
  font-size: 13px;
  padding: 10px;
  min-width: 100px;
  width: 200px;
  display: inline-block;
  text-align: center;
}
a[alt="download"] img {
  width: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
@media screen and (max-width: 700px) {
    #item-list .sale-price-mobile {
        width: 15%!important;
    }
    #item-list .sale-status-mobile {
        width: 15%!important;
    }
    #item-list .sale-item-mobile {
        width: 70%!important;
    }
    #item-list .member-date-mobile {
        width: 20%!important;
    }
    #item-list .member-type-mobile {
        width: 15%!Important;
    }
    #item-list .member-item-mobile {
        width: 65%!Important;
    }
    #item-list .product-item-mobile {
        width: 70%!Important;
    }
    #item-list .product-price-mobile {
        width: 15%!Important;
    }
    #item-list .product-type-mobile {
        width: 15%!Important;
    }
    #item-list .comment-item-mobile {
      width: 80%!important;
    }
    #item-list .comment-project-mobile {
       width: 20%!Important;
    }
    #summary .dashboard-summary-mobile {
      width: 50%;
    }
    #mainnav #search input[type="search"] {
      width: 100px!Important;
    }
}